/* Main */
.login-main {
  position: relative;
  height: 900px;
  background-image: url("https://picsum.photos/id/160/1440/900");
  background-size: cover;
}
.member {
  position: absolute;
  right: 5%;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100%;
  background-color: rgba(39, 39, 39, 0.7);
}
@media screen and (max-width: 768px) {
  .login-main {
    position: static;
    background-image: none;
  }
  .member {
    position: static;
    width: 100vw;
    background-color: transparent;
  }
}
.member h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .member h1 {
    font-size: 3.5rem;
  }
}
.member img {
  margin: 2rem 0;
}
.member h2 {
  font-size: 36px;
  color: #f0f0f0;
  margin-bottom: 2rem;
}
.member label {
  width: 70%;
  text-align: left;
  color: #f0f0f0;
  margin-bottom: 0.5rem;
}
.member form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member form input,
.member form label {
  width: 20rem;
}
@media screen and (max-width: 1024px) {
  .member form input,
  .member form label {
    width: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .member form input,
  .member form label {
    width: 20rem;
  }
}
form input {
  width: 70%;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  padding: 0.7rem 0.5rem;
  margin-bottom: 1rem;
}
.confirm {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: #f0f0f0;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
  margin: 1rem 0;
  cursor: pointer;
  background-color: #930000;
  transition: 0.1s;
}
.confirm:hover {
  background-color: #ae0000;
}
.switch {
  font-size: 16px;
  font-weight: bold;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}
.switch:hover {
  text-decoration: underline;
}
