<main>
  <section>
    <swiper
      class="swiper main-swiper-padding"
      :modules="modules"
      :loop="true"
      :pagination="{ clickable: true, dynamicBullets: true}"
      :effect="'coverflow'"
      :grab-cursor="true"
      :centered-slides="true"
      :slides-per-view="'auto'"
      :coverflow-effect="{
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true
          }"
      :autoplay="{
            delay: 5000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
          }"
    >
      <swiper-slide class="main-slide" v-for="i in 9" :key="i">
        <router-link to="/content">
          <img
            class="main-slide-img"
            :src="'https://picsum.photos/1440/400?random=' + i"
            :alt="'main-slide-' + i"
          />
        </router-link>
      </swiper-slide>
    </swiper>
  </section>
  <section class="container">
    <ul class="sidebar">
      <li v-for="item in categoryList" :key="item.value">
        <router-link
          :to="'/category/' + item.url"
          class="sidebar-btn"
          :class="{'sidebar-active' : actived.value === item.value}"
        >
          {{ item.label }} <br />
          {{ item.value }}
        </router-link>
      </li>
    </ul>
    <div class="dropdown">
      <div class="dropdown-default">
        <span>{{ actived.label }}</span>
        <span class="arrow"></span>
      </div>
      <ul>
        <li v-for="item in categoryList" :key="item.value">
          <router-link
            :to="'/category/' + item.url"
            class="dropdown-btn"
            :class="{'dropdown-active' : actived.value === item.value}"
          >
            {{ item.label }}
          </router-link>
        </li>
      </ul>
    </div>
    <router-view :actived="actived" :categoryList="categoryList"></router-view>
  </section>
</main>
