/* Category Page */
.swiper-pagination .swiper-pagination-bullet {
  background: #f0f0f0;
  opacity: 0.5;
}
.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.category .swiper-button-prev::after,
.category .swiper-button-next::after {
  color: red;
  font-size: 36px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .category .swiper-button-prev::after,
  .category .swiper-button-next::after {
    font-size: 20px;
  }
}
/* Content Page */
.recommend-swiper .swiper-button-prev::after,
.recommend-swiper .swiper-button-next::after {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .recommend-swiper .swiper-button-prev::after,
  .recommend-swiper .swiper-button-next::after {
    font-size: 20px;
  }
}
