.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.d-blcok {
  display: block;
}
.d-none {
  display: none;
}
.text-gradient {
  color: transparent;
  background: linear-gradient(135deg, #ae0000 25%, #b15bff);
  background-clip: text;
}
.h2 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f0f0f0;
  margin: 10rem 0 1rem 0;
}
/* loading */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.la-square-jelly-box,
.la-square-jelly-box > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-square-jelly-box {
  display: block;
  font-size: 0;
  color: #fff;
}
.la-square-jelly-box.la-dark {
  color: #333;
}
.la-square-jelly-box > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-square-jelly-box {
  width: 32px;
  height: 32px;
}
.la-square-jelly-box > div:nth-child(1),
.la-square-jelly-box > div:nth-child(2) {
  position: absolute;
  left: 0;
  width: 100%;
}
.la-square-jelly-box > div:nth-child(1) {
  top: -25%;
  z-index: 1;
  height: 100%;
  border-radius: 10%;
  -webkit-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
  -moz-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
  -o-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
  animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
}
.la-square-jelly-box > div:nth-child(2) {
  bottom: -9%;
  height: 10%;
  background: #f0f0f0;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
  -moz-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
  -o-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
  animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
}
.la-square-jelly-box.la-sm {
  width: 16px;
  height: 16px;
}
.la-square-jelly-box.la-2x {
  width: 64px;
  height: 64px;
}
.la-square-jelly-box.la-3x {
  width: 96px;
  height: 96px;
}
/*
 * Animations
 */
@-webkit-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -moz-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -moz-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -moz-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-o-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -o-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -o-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -o-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
    -moz-transform: translateY(25%) rotate(22.5deg);
    -o-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    -moz-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    -o-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg);
  }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
    -moz-transform: translateY(25%) rotate(67.5deg);
    -o-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    -moz-transform: translateY(0) rotate(90deg);
    -o-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@-moz-keyframes square-jelly-box-shadow {
  50% {
    -moz-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@-o-keyframes square-jelly-box-shadow {
  50% {
    -o-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
@keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    -moz-transform: scale(1.25, 1);
    -o-transform: scale(1.25, 1);
    transform: scale(1.25, 1);
  }
}
/* Go to top button */
.go-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 48px;
  width: 48px;
  background-color: transparent;
  background-image: url(@/img/arrow-up.png);
  background-size: cover;
  border: none;
  z-index: 99;
  cursor: pointer;
  opacity: 0.8;
}
/* Header */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.home {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 5px 5px 10px;
}
#nav,
.nav-icon {
  display: none;
}
.nav-icon {
  background-image: url(@/img/nav.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-right: 10px;
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-btn {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: #f0f0f0;
  padding: 0.8rem 1.5rem;
  margin-right: 1rem;
}
.login {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  transition: 0.1s;
}
.login:hover {
  color: #000000;
  background-color: #f0f0f0;
}
.register {
  border-radius: 5px;
  background-color: #930000;
  transition: 0.1s;
}
.register:hover {
  background-color: #ae0000;
}
/* Header for mobile*/
@media screen and (max-width: 768px) {
  .header,
  .nav,
  .nav-btn {
    display: block;
  }
  .home {
    display: inline-block;
  }
  .nav-btn {
    margin-right: 0;
  }
  .login,
  .register {
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.1s;
  }
  .register:hover {
    color: #000000;
    background-color: #f0f0f0;
  }
  .nav-icon {
    position: absolute;
    right: 0px;
    top: 10px;
    display: inline-block;
  }
  #nav:checked ~ .nav {
    display: none;
  }
}
/* Main */
.swiper {
  height: 100%;
  width: 100%;
}
.main-swiper-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-slide {
  width: 60vw;
  height: 30vw;
}
.main-slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Container Section */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
}
/* Container Section for mobile */
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    margin-top: 2rem;
  }
}

/* Sidebar */
.sidebar {
  width: 15vw;
  margin-left: 2vw;
}
.sidebar-btn {
  display: block;
  font-size: 1.2rem;
  line-height: 1.4;
  text-decoration: none;
  color: #f0f0f0;
  background-color: #5b5b5b;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 2px 0;
  margin: 0.5rem 0;
}
.sidebar-btn:hover {
  font-weight: bold;
  border: 2px solid;
  background-color: #ae0000;
}
.sidebar-active {
  font-weight: bold;
  background-color: #ae0000;
}
/* Drop */
.drop {
  position: relative;
  display: none;
  width: 50vw;
  margin: 0 0 1rem 2.5vw;
}
.drop:hover .dropdown {
  display: block;
}
/* .drop:hover .dropdown.close {
  display: none;
} */
.drop-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  color: #f0f0f0;
  padding: 10px;
  border: 1px solid #888888;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(./arrow-down.png);
  background-size: cover;
}
.dropdown {
  display: none;
  width: inherit;
  max-height: 200px;
  position: absolute;
  background-color: #d0d0d0;
  box-shadow: 0px 2px 3px 0px #cccccc;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: auto;
  z-index: 10;
}
.dropdown::-webkit-scrollbar {
  width: 5px; /* 捲軸寬度 */
}
.dropdown::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 捲軸軌道顏色 */
  border-radius: 6px;
}
.dropdown::-webkit-scrollbar-thumb {
  background-color: #adadad; /* 捲軸滑塊顏色 */
  border-radius: 15px;
}
.dropdown-option {
  display: block;
  text-align: left;
  margin: 0 5px;
  cursor: pointer;
}
.dropdown-option:first-child {
  margin-top: 0.5rem;
}
.dropdown-option:last-child {
  margin-bottom: 0.5rem;
}
.dropdown-btn {
  display: block;
  padding: 0.5rem;
  color: #000000;
  text-decoration: none;
}
.dropdown-btn:hover {
  color: #000000;
  background-color: #f0f0f0;
  border-radius: 6px;
}
.dropdown-active {
  color: #f0f0f0;
  background-color: #000000;
  border-radius: 6px;
}
/* Sidebar for mobile */
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .drop {
    display: block;
  }
}
/* Categoty-box */
.categoty-box {
  width: 78vw;
  margin: 0 2vw 4rem 0;
}
.categoty-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
  color: #f0f0f0;
  margin: 1rem 0;
}
.categoty-slide {
  display: block;
}
.categoty-slide img {
  width: 100%;
}
/* Specific category */
.specific-categoty {
  display: flex;
  flex-wrap: wrap;
}
.specific-categoty li {
  width: 18vw;
  margin: 10px;
}
.specific-categoty li a img {
  width: 100%;
}
/* Categoty for mobile */
@media screen and (max-width: 1024px) {
  .categoty-box {
    width: 95vw;
    margin: 0 0 0 2.5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .categoty-title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .categoty-title {
    font-size: 1.2rem;
  }
}
/* Specific category for mobile */
@media screen and (max-width: 1024px) {
  .specific-categoty li {
    width: 45vw;
    margin: 5px auto;
  }
}
