<div class="wrapper">
  <button
    class="go-top"
    @click="goTop"
    :class="yScrollValue > 200 ? 'd-block':'d-none'"
  ></button>
  <div
    v-if="loading"
    style="color: #f4696b"
    class="loading la-square-jelly-box la-2x"
  >
    <div></div>
    <div></div>
  </div>
  <div v-else>
    <header class="header">
      <a class="home" href="/">
        <h1 class="text-gradient">JUST<br />WATCH</h1>
      </a>
      <label for="nav" class="nav-icon"></label>
      <input type="checkbox" id="nav" />
      <ul class="nav">
        <li>
          <a class="nav-btn register" href="#">立即註冊</a>
        </li>
        <li>
          <a class="nav-btn login" href="#">登入</a>
        </li>
      </ul>
    </header>
    <main>
      <swiper
        class="swiper main-swiper-padding"
        :modules="modules"
        :loop="true"
        :pagination="{ clickable: true, dynamicBullets: true}"
        :effect="'coverflow'"
        :grab-cursor="true"
        :centered-slides="true"
        :slides-per-view="'auto'"
        :coverflow-effect="{
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true
          }"
        :autoplay="{
            delay: 5000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
          }"
      >
        <swiper-slide class="main-slide" v-for="i in 9" :key="i">
          <a href="#">
            <img
              class="main-slide-img"
              :src="'https://picsum.photos/1440/400?random=' + i"
              :alt="'main-slide-' + i"
            />
          </a>
        </swiper-slide>
      </swiper>
      <section class="container">
        <ul class="sidebar">
          <li
            @click="addActive(sidebarIndex)"
            v-for="(item, sidebarIndex) in movieCatories"
            :key="sidebarIndex"
          >
            <a
              class="sidebar-btn"
              :class="{'sidebar-active' : actived === sidebarIndex}"
              href="#"
            >
              {{ item[0] }} <br />
              {{ item[1] }}
            </a>
          </li>
        </ul>
        <div class="drop">
          <div class="drop-default">
            <span>{{ movieCatories[actived][0] }}</span>
            <span class="arrow"></span>
          </div>
          <ul class="dropdown">
            <li
              @click="addActive(dropdownIndex)"
              class="dropdown-option"
              v-for="(item, dropdownIndex) in movieCatories"
              :key="dropdownIndex"
            >
              <a
                :class="{'dropdown-active' : actived === dropdownIndex}"
                class="dropdown-btn"
                href="#"
              >
                {{ item[0] }}
              </a>
            </li>
          </ul>
        </div>
        <ul class="categoty-box">
          <li
            v-for="(title, titleIndex) in movieCatoriesTitle"
            :key="titleIndex"
          >
            <h3 class="categoty-title">{{ title }}</h3>
            <swiper
              :modules="modules"
              :space-between="5"
              :slides-per-view="4"
              :slides-per-group="1"
              :loop="true"
              :loop-fill-group-with-blank="true"
              :navigation="true"
            >
              <swiper-slide v-for="i in 8" :key="i">
                <a class="categoty-slide" href="#">
                  <img
                    :src="'https://picsum.photos/300/200?random=' + titleIndex + i"
                    :alt="actived + '-slide-' + i"
                  />
                </a>
              </swiper-slide>
            </swiper>
          </li>
        </ul>
        <!-- <div class="categoty-box">
          <h3 class="categoty-title">{{ movieCatories[actived][0] }}</h3>
          <ul class="specific-categoty">
            <li v-for="i in 24" :key="i">
              <a href="#">
                <img
                  style="box-sizing: border-box"
                  :src="'https://picsum.photos/300/200?random=' + actived + i"
                  :alt="actived + '-slide-' + i"
                />
              </a>
            </li>
          </ul>
        </div> -->
      </section>
    </main>
    <footer class="footer">
      <div class="community">
        <a href="https://twitter.com/home"
          ><img
            class="community-btn"
            src="@/img/twitter.png"
            alt="twitter" /></a
        >|
        <a href="https://www.facebook.com/"
          ><img
            class="community-btn"
            src="@/img/facebook.png"
            alt="facebook" /></a
        >|
        <a href="https://www.instagram.com/"
          ><img class="community-btn" src="@/img/instagram.png" alt="instagram"
        /></a>
      </div>
      <div class="copyright">
        <p>
          &copy; Copyright 2023 <br />
          本站為單純的作品練習，不使用於任何商業或營利行為
        </p>
      </div>
    </footer>
  </div>
</div>
