.container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #424242;
}
.list-btn {
  display: flex;
  align-items: center;
}
.home-btn {
  width: 150px;
  margin: 0 30px 0 50px;
}
.movie-btn {
  font-size: 20px;
  color: #424242;
  margin: 0 20px;
  text-decoration: none;
}
.album-btn {
  font-size: 20px;
  color: #424242;
  margin: 0 20px;
  text-decoration: none;
}
.cart-btn {
  font-size: 20px;
  color: #424242;
  margin: 0 10px 0 20px;
  text-decoration: none;
}
.login-btn {
  font-size: 20px;
  color: #424242;
  margin: 0 20px 0 10px;
  text-decoration: none;
}
.line-absolute a{
  position:relative;
}
.line-absolute a::after{
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: -10px;
  border-bottom: 2px solid #424242;
  transition: .4s;
}
.line-absolute a:hover::after{
  right: -10%;
  left: -10%;
}