<div class="container">
  <div class="header">
    <ul class="list-btn">
      <li class="line-absolute">
        <a class="home-btn" href="#">首頁</a>
      </li>
      <li class="line-absolute">
        <a class="movie-btn" href="">電影</a>
      </li>
      <li class="line-absolute">
        <a class="album-btn" href="">影集</a>
      </li>
    </ul>
    <ul class="list-btn">
      <li class="line-absolute">
        <a class="cart-btn" href="">購物車</a>
      </li>
      <li class="line-absolute">
        <a class="login-btn" href="">登入</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="https://picsum.photos/1920/400?random=1" alt="">
        <div>電影1</div>
      </div>
      <div class="mySlides fade">
        <img src="https://picsum.photos/1920/400?random=2" alt="">
        <div>電影2</div>
      </div>
      <div class="mySlides fade">
        <img src="https://picsum.photos/1920/400?random=3" alt="">
        <div>電影3</div>
      </div>
      <a class="slide_arrow prev" @click="prevSlide">&#10094;</a>
      <a class="slide_arrow next" @click="nextSlide">&#10095;</a>
    </div>
    <div>
      <div class="slide_dot">
        <div class="dot" data-value="1"></div>
        <div class="dot" data-value="2"></div>
        <div class="dot" data-value="3"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    
    <div class="community">
      <a href="#"><img class="community-btn" src="./twitter.png" alt="twitter"></a>| 
      <a href="#"><img class="community-btn" src="./facebook.png" alt="facebook"></a>|
      <a href="#"><img class="community-btn" src="./instagram.png" alt="instagram"></a>
    </div>
    <div class="copyright"> 
      <p>
        &copy; Copyright 2023 <br>
        本站為單純的作品練習，不使用於任何商業或營利行為
      </p>
    </div>
  </div>
</div>