<header class="header">
  <a class="home" href="#">
    <h1 class="text-gradient">JUST<br />WATCH</h1>
  </a>
  <ul class="nav">
    <li>
      <a class="nav-btn register" href="#">立即註冊</a>
    </li>
    <li>
      <a class="nav-btn login" href="#">登入</a>
    </li>
  </ul>
</header>
<section class="ad-box">
  <div class="ad-content">
    <h2 class="ad-title text-gradient">JUST WATCH</h2>
    <p class="ad-slogan">精彩的電影</p>
    <p class="ad-slogan">各式各樣的選擇</p>
    <p class="ad-slogan">盡在&nbsp;JUST&nbsp;WATCH</p>
    <ul class="subscribe-box">
      <li class="subscribe-content">
        <p class="subscribe-price">
          NT$&nbsp;188
          <span class="subscribe-period">&#124;&nbsp;每月</span>
        </p>
        <a class="subscribe-btn" href="#">訂閱基本月費</a>
      </li>
      <li class="subscribe-content">
        <p class="subscribe-price">
          NT$&nbsp;1888
          <span class="subscribe-period">&#124;&nbsp;每年</span>
        </p>
        <p style="color: #f0f0f0">*馬上節省兩個月費用！</p>
        <a class="subscribe-btn" href="#">訂閱超值年費</a>
      </li>
    </ul>
  </div>
</section>
<Splide :options="{ rewind: true }" aria-label="My Favorite Images">
  <SplideSlide>
    <img src="https://picsum.photos/1920/400?random=1" alt="hot 1" />
  </SplideSlide>
  <SplideSlide>
    <img src="https://picsum.photos/1920/400?random=2" alt="hot 2" />
  </SplideSlide>
  <SplideSlide>
    <img src="https://picsum.photos/1920/400?random=3" alt="hot 3" />
  </SplideSlide>
  <SplideSlide>
    <img src="https://picsum.photos/1920/400?random=4" alt="hot 4" />
  </SplideSlide>
</Splide>
<section class="category-box">
  <div class="category-bg">
    <a class="category Horror" href="#">
      <p class="category-text">恐怖</p>
    </a>
  </div>
  <div class="category-bg">
    <a class="category Romance">
      <p class="category-text">浪漫</p>
    </a>
  </div>
  <div class="category-bg">
    <a class="category Classic">
      <p class="category-text">經典</p>
    </a>
  </div>
  <div class="category-bg">
    <a class="category Action">
      <p class="category-text">動作</p>
    </a>
  </div>
</section>
<!-- <section class="subscribe-box">
  <div class="subscribe monthly">
    <p class="subscribe-text">
      基本方案(月)
      <br />
      <span style="font-size: 24px">NT&#36;</span>&nbsp;188
    </p>
    <a class="subscribe-btn" href="#">訂閱</a>
  </div>
  <div class="subscribe yearly">
    <p class="subscribe-text">
      超值方案(年)
      <br />
      <span style="font-size: 24px">NT&#36;</span>&nbsp;1,888
    </p>
    <a class="subscribe-btn" href="#">訂閱</a>
  </div>
</section> -->
<footer class="footer">
  <div class="community">
    <a href="#"
      ><img class="community-btn" src="./twitter1.png" alt="twitter" /></a
    >|
    <a href="#"
      ><img class="community-btn" src="./facebook.png" alt="facebook" /></a
    >|
    <a href="#"
      ><img class="community-btn" src="./instagram.png" alt="instagram"
    /></a>
  </div>
  <div class="copyright">
    <p>
      &copy; Copyright 2023 <br />
      本站為單純的作品練習，不使用於任何商業或營利行為
    </p>
  </div>
</footer>
