<div class="container">
  <header class="header">
    <ul class="navigation-bar">
      <li>
        <a class="navigation-bar-btn" href="#">首頁</a>
      </li>
      <li class="test" @mouseenter="showDropdown" @mouseleave="hideDropdown"> 
        <a class="navigation-bar-btn" href="#">電影類型</a>
        <div class="dropdown-box" v-if="isDropdownVisible">
          <a class="dropdown-content" href="https://www.youtube.com/">恐怖</a>
          <a class="dropdown-content" href="#">浪漫</a>
          <a class="dropdown-content" href="#">經典</a>
          <a class="dropdown-content" href="#">動作</a>
          <a class="dropdown-content" href="#">動漫</a>
          <a class="dropdown-content" href="#">劇情</a>
          <a class="dropdown-content" href="#">喜劇</a>
        </div>
      </li>
    </ul>
    <ul class="navigation-bar">
      <li>
        <a class="navigation-bar-btn" href="#">購物車</a>
      </li>
      <li>
        <a class="navigation-bar-btn" href="#">登入</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <section class="left-side">
      <ul class="categories-column">
        <li>全部</li>
        <li>恐怖</li>
        <li>浪漫</li>
        <li>經典</li>
        <li>動作</li>
        <li>動漫</li>
        <li>劇情</li>
        <li>喜劇</li>
      </ul>
    </section>
    <section class="right-side">
      <div class="movie"></div>
    </section>
  </main>
  <footer class="footer">
    
    <div class="community">
      <a href="#"><img class="community-btn" src="./twitter.png" alt="twitter"></a>| 
      <a href="#"><img class="community-btn" src="./facebook.png" alt="facebook"></a>|
      <a href="#"><img class="community-btn" src="./instagram.png" alt="instagram"></a>
    </div>
    <div class="copyright"> 
      <p>
        &copy; Copyright 2023 <br>
        本站為單純的作品練習，不使用於任何商業或營利行為
      </p>
    </div>
  </footer>
</div>